
    <%- include('./partials/head') %>

    <main style="margin: 1em">
      <h3>Log in Here</h3>
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="email">Enter Email:</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Email"
            style="width: 300px; margin: 1em"
          />
          <label for="password">Enter Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </main>
    
    <%- include('./partials/footer') %>